@import "tailwindcss";


body {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: black;
}


a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}


.nuxt-link,
.nuxt-link-exact-active {
    text-decoration: none;
    color: white;
}
.nuxt-link:hover{
    color:#6DA48F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
}
